/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
    /* monospace; */
    font-family: Avenir LT Pro,sans-serif;
}

/* ////////////Search menu section CSS */
.main-container{
  /* border: 1px solid black; */
  background-color: #F2F2F2;
  height: 70px;
  margin: auto;
  width: 90vw;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  position: relative;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

}
.left-c-button{
  border-radius: 5px;
}
.icon{
  color: #39b2c3;;
  font-size: 25px;  ;
}
.input-div{
  margin: auto;
  display: flex;
  align-items:center;
}

.inputfield{
  padding: 10px;
  border-radius: 50px;
  width: 650px;  
  outline: none;
}
.input-div>input{
  flex:1;
  border: none;
}

.SearchSelection{
  border:none;
  background-color: #ffffff;
  padding: 10px;
  border-left: 1px solid gray;
  border-radius: 50px;
  color: rgb(118, 118, 118),;
  outline: none;
}
.searchbutton{
  color: white;
  text-align: center;
  padding: 6px 9px;
  width: 110px;
  border-radius: 20px;
  background-color: #39b2c9;
}



/* ///////////CSS FOR TOP SEARCHBAR SUBCATEGORIES  Menu show onclick left side//////////// */
.category-container{
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 25px;

}
.category>span>a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.subcategory{
  background-color: #f2f2f2;
  padding: 5px;
  margin-left: 10px;
  /* z-index: 1; */

}
.subcategory:hover{
  color: green;
}

.subcategory>span>a{
  text-decoration: none;
  color: black;
  font-weight: 400;
}
/* ////Responsiveness///////////////// */

/* @media  screen and (max-width: 1400px) {
  .main-container {
    height: 70px;
    width: 90vw;
    margin-top: 15px;
  }
  .container {
    padding: 10px;
    /* flex-direction: column; 
  }

  .left-c-button {
    border-radius: 5px;
  }

  .icon {
    font-size: 25px;
  }

  .inputfield {
    width: 650px;
  }

  .SearchSelection {
    padding: 10px;
  }

  .searchbutton {
    padding: 6px 9px;
    width: 110px;
  }
} */


/* ////////////CSS FOR FILTERS COMPONENT//////////// */



.main-div{
  width: 100%;
  /* padding: 30px; */
  border: 0.5px solid #BDC2C3;
  border-radius: 2px;
  /* margin: 20px;
  margin-left: 50px; */
}
.CatSearch{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
}
.CatSearch > input{
  flex: 1;
  padding: 5px 10px;
  border-radius: 35px;
  border: 0.5px solid #BDC2C3;
  background-color: #F2F2F2;
  text-align: center;
  font-size: 15px;
  font-weight: 350;
  width: 260px;
  outline: none;
}

/* ////////////Categories component styles///////////// */


.Catlist >li{
  list-style-type: square;
  size: 30px;
}
.Categories{
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
}


/* ////////////PriceComponent Css/////// */

.m-container{
  padding-top: 20px;
}
.firstinput{
  display: flex;
  align-items: center;
  width: 130px;
  
}
.firstinput > input{
  
  width: 100%;
  padding: 8px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #F2F2F2;
  text-align: center;
  /* margin: 0px 10px; */
  
}
.divs-container{
  display: flex;
  align-items: center;
}

/* ///////////MOQ CSS/////////////////// */
.MOQinput > input{
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #F2F2F2;
  text-align: center;
  /* margin: 0px 10px; */
}


/* //////////////product certification ////////// */

.proSearch > input{
  flex: 1;
  padding: 5px 10px;
  border-radius: 35px;
  border: 0.5px solid #BDC2C3;
  background-color: #F2F2F2;
  text-align: center;
  font-size: 15px;
  font-weight: 350;
  width: 270px;
  outline: none;
}


/* //////////////Product Certification component CSS////////////// */
.Pmain-div{
  padding-top: 25px;
  
}

.chkbox-wrap{
  padding-top: 20px;
}
.chkbox-items{
  display:flex;
  justify-content: flex-start;

}
.chkbox-title{
    padding-left: 15px;
}


/* ////////////////main div css////////////////////// */

.mainwrapper{
  display:flex;
  /* align-items: center; */
  justify-content: center;
  width: 90vw;
  margin: auto;
  margin-top: 20px;
}
.sidefilters{
   width: 30%;
   padding-right: 20px;
}
.productside-column{
  width:70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


/* ////////////////CSS FOR PRODUCT LIST/////////// */

.products-con{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.product-items{
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* border: 0.5px solid gray; */
  
  /* position: relative; */
}
.product-items:hover{
  box-shadow:  5px 5px 5px 5px #BDC2C3;
}
.img-con{
  padding: 20px;
}
.img-con  >img{
  width: 172px;
  height: 172px;
}
.product-details>p{
  margin: 0px;
}
.img-btn{
  background-color: #39b2c3;
  border: none;
  outline: none;
  /* padding: 2px 10px; */
  width: 100%;
  border-radius: 5px;
  display: none;
  color: white;
  margin-top: 10px;
  /* position: absolute; */
}

.product-items:hover .img-btn {
  display: block;
}